<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="  crossorigin="anonymous"></script>


    <title th:text="${restaurant.getName()}">Hello, world!</title>
<style>
    footer {
        flex: 100%;
        padding: 20px;
        text-align: center;
        background: #ddd;
    }
    .icon-footer{
        font-size: 30px;
        margin:8px;
    }
    #wrapper{
        margin: auto;
        width: 500px;
        height: 500px;
        border: red 2px;
        background-color:darkgrey;
        align-items: center;
        flex-direction: column;
        border: black solid 2px;
        border-radius:8px;
        display:none;

    }
    #wrapper1{
        margin: auto;
        width: 500px;
        height: 500px;
        border: red 2px;
        /* background-color:darkgrey; */
        display: flex;
        align-items: center;
        flex-direction: column;
        border: black solid 2px;
        border-radius:8px;
        display:none;

    }
    input{
        width: 350px;
        outline:none;
    }
    #title{
        margin-top:50px;
    }
    textarea{
        outline:none;
    }
    button{
        border-radius:10px;
        background-color: chartreuse;
        color:black;
        outline:none;
        width:100px;
        height: 30px;
    }
    :root {
        --penguin-size: 300px;
        --penguin-skin: black;
        --penguin-belly: white;
        --penguin-beak: orange;
    }

    @media (max-width: 350px) {
        :root {
            --penguin-size:200px;
            --penguin-skin:black;
        }
    }



    @keyframes wave {
        10% {
            transform: rotate(110deg);
        }
        20% {
            transform: rotate(130deg);
        }
        30% {
            transform: rotate(110deg);
        }
        40% {
            transform: rotate(130deg);
        }
    }



    body {
        background:#c6faf1;
    }

    .penguin * {
        position: absolute;
    }
</style>
</head>
<body>
<marquee bgcolor="#99FF99" direction="right" loop="infinite">WELCOME TO VISIT MY PAGE </marquee>

<!--<header >-->
<!--    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="display: flex" >-->
<!--        <div >-->
<!--            <a class="navbar-brand" href="#">Restaurant</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--                    aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" id="click" onclick="ShowCmt()">Comment</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--                <form class="d-flex" method="get" action="/">-->
<!--                    <input class="form-control me-2" type="search" name="text" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->
<header >
    <div  th:replace="~{fragments/frontend::navbar}"></div>
</header>
<main class="container" >
    <div style="text-align: center;">
    RESTAURANT NAME: <h1 th:text="${restaurant.getName()}"></h1>
    RESTAURANT CUISINE:<h5 th:text="${restaurant.getCuisine()}"></h5>
    RESTAURANT BOROUGH: <h5 th:text="${restaurant.getBorough()}"></h5>
    RATE: <h6 style="font-weight: 600" th:text="${restaurant.getRate()}"></h6>
    IMAGES:
    </div><br>
    <img th:src="${restaurant.getPoster1()}" style="height:500px;width: 600px">
    <img th:src="${restaurant.getPoster2()}" style="height:500px;width: 600px">
</main>
<hr>

    </div>
</div>


<div id="'formCmt" >
    <fieldset >
        <legend>Comment</legend>
        <div>
            <table>
                <tr>
                    <th><label for="user">Name:</label></th>
                    <th> <input id="user" type="text" placeholder="Name" style="width:394px;height: 30px;"><br></th>
                </tr>
                <tr>
                    <th><label for="Number">Number Phone:</label> </th>
                    <th><input id="Number" type="text" placeholder="Number Phone" style="width:394px;height:30px" ></th>
                </tr>
                <tr>
                    <th><label for="cmt">Comment:</label> </th>
                    <th><textarea id="cmt"  placeholder="Content of Comment" rows="10" cols="50"></textarea></th>
                </tr>
                <tr>
                    <th></th>
                    <th><button type="submit" onclick="Submit()">POST</button></th>
                </tr>



            </table>

        </div><br><br><br><br>
        <div id="root" style='font-size:10px;'>

        </div>

    </fieldset>


<footer th:replace="~{fragments/frontend::footer}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</footer>

<script>
    $("#click").click(function(){
        $("#wrapper").slideDown().css("display","flex")
    })
    $("#send").click(function(){
        $("#wrapper").css("display","none")
        $("#wrapper1").slideDown().css('display','flex')
    })
    $("#btn_ql").click(function(){
        $("#wrapper1").slideUp()
    })
    $("#close").click(function(){
        $("#wrapper").slideUp()
    })

    function check(){
        var arr = JSON.parse(localStorage.getItem("arr"))
        if(arr==null ||arr==0||arr==undefined){
            document.getElementById('root').innerText="chua co binh luan"
        }
    }
    // function HideCmt() {
    //     document.getElementById('form').style.display = "none";
    // }
    function ShowCmt() {
        check()

        document.getElementById('formCmt').style.display = "block";
        var arr = JSON.parse(localStorage.getItem("arr"))
        var content = ``
        for (var i = 0; i < arr.length; i++) {
            content += `
                <div style='margin-left: 30px;display: flex;margin-top: 10px;margin-bottom:10px;'>
                     <div  >
                         <i class="fa-solid fa-user" style="margin-top:25px;margin-right: 20px;"></i>
                     </div>
                     <div style='border-radius: 10px;background-color:bisque'>
                                 <h2 style='margin-left:10px;margin-right:10px;'>${arr[i].vuser}</h2>
                                 <h3 style='margin-left:10px;margin-right:10px;'>${arr[i].vcmt}</h3>
                     </div>
                     <button style="width:40px;height:20px;margin-top: auto;margin-bottom: auto;margin-left: 30px;text-align: center;background-color: #c6faf1" onclick='DeleteCmt(event)'>Delete</button>
                </div><br>
             `

        }
        document.getElementById('root').innerHTML = content

    }

    function Submit() {

        var arr = localStorage.getItem("arr") ? JSON.parse(localStorage.getItem("arr")) : []
        var vuser = document.getElementById('user').value
        var vcmt = document.getElementById('cmt').value
        var content = `
            <div style='margin-left: 30px;display: flex;margin-top: 10px;margin-bottom:10px;'>
                     <div  >
                         <i class="fa-solid fa-user" style="margin-top:25px;margin-right: 20px;font-size: 30px;"></i>
                     </div>
                     <div style='border-radius: 10px;background-color:bisque'>
                                 <h2 style='margin-left:10px;margin-right:10px;font-size:25px;'>${vuser}</h2>
                                 <h3 style='margin-left:10px;margin-right:10px;font-size:17px;'>${vcmt}</h3>
                     </div>
                     <button style="width:40px;height:30px;line-height:30px;margin-top: auto;margin-bottom: auto;margin-left: 30px;font-size:10px;text-align: center ;background-color: #c6faf1;" onclick='DeleteCmt(event)'>Delete</button>
            </div><br>
             `

        if (localStorage.getItem("arr") == null ||localStorage.getItem("arr") == undefined) {
            document.getElementById('root').innerHTML = ''
        }
        document.getElementById('root').innerHTML += content
        arr.push({ vuser: vuser, vcmt: vcmt })
        localStorage.setItem('arr', JSON.stringify(arr));

        document.getElementById('user').value = ''
        document.getElementById('cmt').value = ''
    }

    function DeleteCmt(event) {

        var totalTag = event.target.parentElement;
        var valueUser =totalTag.querySelector("h2").textContent;
        console.log(valueUser)
        var arr = JSON.parse(localStorage.getItem("arr"))
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].vuser == valueUser) {
                arr.splice(i, 1);
                break;
            }
        }
        localStorage.setItem('arr', JSON.stringify(arr))
        totalTag.remove()
        check()
        if(arr==null ||arr==0||arr==undefined){
            localStorage.removeItem('arr')
        }
    }


</script>
</body>
</html>

<!--<div id="wrapper">-->
<!--    <div id="title">-->
<!--        <h1>Comment Form</h1>-->
<!--    </div>-->
<!--    <div id="body">-->
<!--        <table>-->
<!--            <th>-->
<!--                <tr>Name:</tr><br>-->
<!--                <tr><input type="text"></tr><br>-->
<!--            </th>-->
<!--            <th>-->
<!--                <tr>Phone Number:</tr><br>-->
<!--                <tr><input type="text"></tr><br>-->
<!--            </th>-->
<!--            <th>-->
<!--                <tr>Content:</tr><br>-->
<!--                <tr><textarea style="width: 350px;" rows="5"></textarea></tr><br>-->
<!--            </th>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div id="footer">-->
<!--        <button id="send">Send</button>-->
<!--        <button id="close"> Close</button>-->
<!--    </div>-->
<!--</div>-->
<!--<div id="wrapper1">-->
<!--    <div id="title">-->
<!--        <h1>Thank you</h1>-->
<!--    </div>-->
<!--    <div id="body">-->
<!--        <div class="penguin">-->
<!--            <div class="penguin-bottom">-->
<!--                <div class="right-hand"></div>-->
<!--                <div class="left-hand"></div>-->
<!--                <div class="right-feet"></div>-->
<!--                <div class="left-feet"></div>-->
<!--            </div>-->
<!--            <div class="penguin-top">-->
<!--                <div class="right-cheek"></div>-->
<!--                <div class="left-cheek"></div>-->
<!--                <div class="belly"></div>-->
<!--                <div class="right-eye">-->
<!--                    <div class="sparkle"></div>-->
<!--                </div>-->
<!--                <div class="left-eye">-->
<!--                    <div class="sparkle"></div>-->
<!--                </div>-->
<!--                <div class="blush-right"></div>-->
<!--                <div class="blush-left"></div>-->
<!--                <div class="beak-top"></div>-->
<!--                <div class="beak-bottom"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="footer">-->
<!--        <button id="btn_ql">Come Back</button>-->
<!--    </div>-->
<!--</div>-->