<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <title th:text="${restaurant.getName()}">Hello, world!</title>
<style>
    body{
        background-color: grey;
    }
</style>
</head>
<body>
<marquee bgcolor="#99FF99" direction="right" loop="infinite">WELCOME TO VISIT MY PAGE </marquee>

<header th:insert="~{fragments/header::navbar}"></header>
<!--dropdown ko xuong-->

<main class="container">
    RESTAURANT NAME: <h1 th:text="${restaurant.getName()}"></h1>
    RESTAURANT CUISINE:<h5 th:text="${restaurant.getCuisine()}"></h5>
    RESTAURANT BOROUGH: <h5 th:text="${restaurant.getBorough()}"></h5>
</main>



<footer th:replace="~{fragments/frontend::footer}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</footer>
</body>
</html>